@model WebAppMVC.ViewModels.CreateEquipamentoVM

@{
    ViewData["Title"] = "Novo Equipamento";
}

    <h1>Novo Equipamento</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Equipamento.Nome" class="control-label"></label>
                <input asp-for="Equipamento.Nome" class="form-control" />
                <span asp-validation-for="Equipamento.Nome" class="text-danger"></span>
            </div>
            <div>
                <table>
                    @foreach (var item in Model.TiposEquipamento)
                    {
                        <input name="tipoEquipamento" type="checkbox" value="@item.Id" />
                        <label>@item.Nome</label>
                    }
                </table>
            </div>
            <div name="salvar" class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar a lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}