@{
    ViewData["Title"] = "Página Inicial";
}

<div class="text-center">
    <h1 class="display-4">Seja Bem-Vindo</h1>
    <p>leia sobre <a href="https://finance.yahoo.com/">Yahoo Finance</a></p>
</div>
