@{
    ViewData["Title"] = "Página Inicial";
}

<div class="text-center">
    <h1 class="display-4">Seja Bem-Vindo</h1>
    <p>leia sobre <a href="https://www.linkedin.com/in/rafael-lelis-ferrari-06b42547/">Rafael Lelis Ferrari</a></p>
</div>
